body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #2C2C2C;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.hidden {
  opacity: 0;
}

a {
  color: #4fa5f3;
}

.overlay {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  padding: 50px;
  box-sizing: border-box;
}

#main-overlay {
  opacity: 0.8;
}

#search-overlay {
  font-size: 140px;
  width: 100%;
  display: flex;
  box-sizing: border-box;
  position: absolute;
  z-index: 2;
}

.search-input {
  word-wrap: break-word;
  max-width: 100%;
  color: #4078F2;
  font-family: 'Source Code Pro', monospace;
  text-align: center;
  position: absolute;
  width: 90%;
  top: 50%;
  transform: translateY(-50%);
}

#stats {
  color: #A5A5A5;
  display: flex;
  flex-wrap: wrap;
  
  #tags {
    width: 30%;
    
    #tags-header {
      margin-bottom: 10px;
      
      span {
        font-size: 20px;
        padding: 4px 12px;
      }
    }
    
    #tags-list {
      display: flex;
      flex-wrap: wrap;
    }
    
    .tag-group {
      padding: 4px 12px;
      width: 50%;
      box-sizing: border-box;
      display: flex;
      
      span {
        display: inline-block;
      }
      
      .tag-subject {
        width: 82%;
      }
      
      .tag-count {
        width: 18%;
      }
    }
  }
  
  #main {
    box-sizing: border-box;
    width: 70%;
    padding-left: 20px;
    
    .m-r1 {
      display: flex;
      flex-direction: row-reverse;
      
      .rendered {
        display: flex;
        
        .val {
          font-size: 28px;
        }
        
        .bf {
          font-family: 'Asap', sans-serif;
          font-size: 54px;
          padding-right: 40px;
        }
      }
    }
    
  }  
  
}

.info {
  z-index: 3;
  position: absolute;
  overflow: scroll;
  max-height: 620px;
  width: 400px;
  background-color: #eaeaea;
  box-sizing: border-box;
  padding: 8px 16px;
  opacity: 1;
  font-size: 14px;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 2s;
  -webkit-transition-timing-function: ease;
  transition-property: opacity;
  transition-duration: 2s;
  transition-timing-function: ease;
}

.info.closing {
  opacity: 0 !important;
}