body {
  font-family: 'Open Sans';
  font-size: 18px;
  // color: #fff;
}

.overlay {
  width: 300px;
  // text-align: center;
  position: absolute;
  top: 100px;
  left: 200px;
}

.stats {
  display: flex;
  flex-wrap: wrap;

  .row {
    display: flex;
    width: 100%;
    div {
      padding: 5px;
    }
  }
  
  .row div {
    width: 100%;
  }
  
}